# Ignore virtual environment
venv

# Ignore Python bytecode files
__pycache__/
*.pyc

# other ignores
.env
.idea
.venv

pip_installs.txt
django_error.log
django_info.log
global_logs.log

dump.rdb
celerybeat-schedule
celerybeat-schedule.db