<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Summary</title>
    <style>
        .container{
            display: flex;
            margin: 2% 2%;
        }
        .responsebox{
            flex: 1;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        {}
    </style>
</head>
<body>
    <div class="container">
        <div class="responsebox">
            <h1>FX</h1>
            <h2>{{summary}}</h2>
        </div>
    </div>
</body>
</html>